mat-form-field{
 display: block;
}

.payment-form{
width: 600px;
}

.pdf-viewer{
  height: 100vh;
  display: block;
  margin: 0 auto;
  max-width: 1200px;                       
}


::ng-deep .snackbar-success{
  --mdc-snackbar-container-color: #068b1a;
  border-radius: 10px;
  margin-top: 30px;
}

::ng-deep .snackbar-error{
  --mdc-snackbar-container-color: #7c1a1c;
  border-radius: 10px;
  margin-top: 30px;
}

::ng-deep .snackbar-warning{
  --mdc-snackbar-container-color: #d8e61a;
  border-radius: 10px;
  margin-top: 30px;
}

::ng-deep .snackbar-info{
  --mdc-snackbar-container-color: hsl(173, 80%, 50%);
  border-radius: 10px;
  margin-top: 30px;
}
