mat-form-field{
  display: block;                       
}
.login-container{
  margin-top: 12%;
  width: 40%;
  justify-content: center;
  max-width: 100%;
  margin-left:  30%;
  margin-right: 30%;
}

.errorMessage {
  font-size: larger;
  color: red;
  margin-bottom: 4%;
  text-align: center;
}
  
.centered-title {
  text-align: center;
  margin-top: 3%;
}